@import "tailwindcss";

.body{
    scroll-behavior: smooth;
}

.text-dark {
    color: #222222;
}

.text-secondary {
    color: #7B7B7B;
}

.text-light {
    color: #F8F8F8;
}

.bg-dark {
    background-color: #222222;
}

.bg-secondary {
    background-color: #7B7B7B;
}

.bg-light {
    background-color: #F8F8F8;
}

.bg-overlay{
 background-color: #222222d7;
}

.bottom-layer{
    position: relative;
}

.layer{
    position: absolute;
    display: none;
}

.bottom-layer:hover>.layer{
    display: block;
}

.masonary{
    column-count: 3;
}


Body{
    overflow-x: hidden;
}

